.menu__trigger{
  position: relative;
  cursor: pointer;
  font-size: 25px;
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background: #599333;
  margin: 10px;
}
.menu__trigger{
  display: none;
}
.drop__trigger{
  position: absolute;
  top: 0;
  right: 0;
  background: #599333;
  color:white;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  top: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  display: none;
  font-size: 10px; 
}
@media screen and (max-width: 992px) {
.menu__trigger{
  display: block;
}
.nav-list{
  display: none;
}
.drop__trigger{
  display: block;
}
.nav-list ul{
  height: auto !important;
  position: static;
  margin-left: -15px;
  background: #fff;
  min-width: 204px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none !important;
}
.nav-list ul.openDrop{
  display: block !important;
}
}